@import url("../home.css");

#eserv{
    background-image: url("../Images/e-services.jpg");
    height:100px;
    width:100px;
    background-size: 500px 500px;
    margin: 20px auto;
    border-radius: 30px;
}
#header{
    text-align: center;
    color:green;
}
 div{
    text-align: center;
    color: black;
}
body {
    background-image: url("C:/Users/NUSHRATH/Pictures/eservice.jpeg");
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover; /* or use 'contain' depending on how you want the image to fit */
    background-position: center;
}
#header img{
    height:75px;
    width:300px;
    border-radius:20px;
    position:absolute;
    top:10px;
    left:25px;
}