
@import url("../home.css");

body {
    background-image: url("C:/Users/NUSHRATH/Pictures/Aboutus.jpeg");
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain' depending on how you want the image to fit */
   background-position: center;
}

#header {
    text-align: center;
    color: black;
}

#header img {
    height: 75px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 25px;
}

#on {
    height: 700px;
    width: 700px;
    background-image: url("C:/Users/NUSHRATH/Pictures/tax.jpg");
    border-radius: 30px;
    background-size: cover; /* This will ensure the image covers the whole div without distortion */
    margin: 30px auto;
    display: block; /* Makes sure the div is centered in the parent */
}

div {
    text-align: center;
    color: black;
}
